* {
    margin: 0;
}

.cxPage {
    background-image: url(../img/cx/bgi.jpg);
    height: 98vh;
    background-position: center;
    background-size: cover;
}

.cxWrapper {
    position: relative;
    left: 14vw;
    top: 64px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
}

.inflite, .r5cx, .crossista {
    width: 500px;
    height: 300px;
    border: 4px solid rgba(243, 128, 21, 0.9);
    box-sizing: border-box;
    border-radius: 24px;
    text-align: center;
}

.cxWrapper p {
    border-radius: 0px 0px 22px 22px;
    position: relative;
    top: -49px;
    width: 493px;
    color: rgba(243, 128, 21);
    background: rgba(94, 89, 89, 0.8);
}

.inflite > img , .r5cx > img , .crossista > img {
    position: relative;
    width: 100%;
    border-radius: 22px;
}


@media screen and (max-width: 1440px) {
    .cxWrapper {
        grid-row-gap: 40px;
    }

    .inflite, .r5cx, .crossista {
        height: 240px;
        width: 400px;
    }

    .cxWrapper img {
        height: 232px;
        width: 392px;
    }

    .cxWrapper p {
        width: 100%;
    }
}

@media screen and (max-width: 1280px) {
    .cxWrapper p {
        top: -36px;
    }
}

@media screen and (max-width: 1024px) {
    .inflite, .r5cx, .crossista {
        height: 90%;
        width: 90%;
    }

    .cxWrapper img {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 425px) {

    .cxWrapper{
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .inflite, .r5cx, .crossista {
        height: 150px;
        width: 250px;
    }
}

@media screen and (max-width: 375px) {
    .inflite, .r5cx, .crossista {
        height: 120px;
        width: 200px;
    }
}