@font-face {
    font-family: "Post No Bills Colombo";
    src: url(../fonts/postnobillscolombo-regular.ttf);
    src: url(../fonts/postnobillscolombo-bold.ttf);
    src: url(../fonts/postnobillscolombo-extrabold.ttf);
    src: url(../fonts/postnobillscolombo-light.ttf);
    src: url(../fonts/postnobillscolombo-semibold.ttf);
    src: url(../fonts/postnobillscolombo-medium.ttf);
}

* {
    margin: 0;
    max-width: 1920px;
    overflow: hidden;
}

.start {
    width: 100%;
    max-width: 100%;

}

.pageContainer {
    position: absolute;
    top: 290px;
    left: 25%;
    display: grid;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    background:rgba(94, 89, 89, 0.8);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

h3 {
    font-family: "Post No Bills Colombo";
    font-size: 45px;
    line-height: 67px;
    text-align: center;
    color: #F38015;
}

p {
    font-family: "Post No Bills Colombo";
    font-size: 30px;
    line-height: 45px;
    width: 80%;
    text-align: center;
    color: #F38015;
}

.linkWrapper {
    width: 44%;
    height: 40%;
    border: 4px solid rgba(243, 128, 21, 0.47);
    box-sizing: border-box;
    border-radius: 24px;
    text-align: center;
    margin-bottom: 10px;
}

h3, p,  .linkWrapper {
    margin-left: auto;
    margin-right: auto;
}

.link {
    margin-top: auto;
    margin-bottom: auto;
}

a {
    font-family: "Post No Bills Colombo";
    font-size: 35px;
    line-height: 56px;
    font-style: unset;
    text-decoration: none;
    color: white;
}



@media screen and (max-width: 1280px) {
    a, p {
        font-size: 24px;
        line-height: 32px;
        
    }

    .contacts {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .link {
        margin-top: 5px;
    }
}

@media screen and (max-width: 1024px) {

    a {
        font-size: 22px;
    }

    .pageContainer {
        top: 200px;
        width: 46%;
        height: 38%;
    }

    .pageContainer h3 {
        font-size: 36px;
        line-height: 36px;
    }

    .pageContainer p,
    .pageContainer a {
        font-size: 22px;
        line-height: 24px;
    }

    h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {

    .pageContainer h3 {
        font-size: 32px;
        line-height: 32px;
    }

    .pageContainer p,
    .pageContainer a {
        font-size: 20px;
        line-height: 22px;
    }

    .linkWrapper {
        width: 160px;
        height: 36px;
        border: 2px solid rgba(243, 128, 21, 0.47);
        border-radius: 20px;
    }
}

@media screen and (max-width: 425px) {

    .pageContainer h3 {
        width: 90%;
        font-size: 32px;
        line-height: 30px;
    }

    .pageContainer p,
    .pageContainer a {
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (max-width: 375px) {

    .pageContainer {
        width: 160px;
    }

    .linkWrapper {
        width: 140px;
        height: 32px;
    }

    h1 {
        font-size: 24px;
    }

    button {
        padding: 4px;
    }
}