.feedPage {
    background-image: url(../img/feedBack.jpg);
    width: 100%;
    height: 90vh;
}

body, button, label {
    font-family: "Post No Bills Colombo";
    color: #F38015;
    font-size: 24px;
}

.btnWrapperBottom button {
    width: 200px;
    width: 200px;
    height: 56px;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #F38015;
    border: 4px solid rgba(243, 128, 21, 0.47);
    box-sizing: border-box;
    border-radius: 24px;
    text-align: center;
    margin-bottom: 10px;
}


.mr2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 10px auto 10px auto;
}

.mb3 {
    width: 400px;
    position: relative;
    left: calc(50% - 200px);
}

.textPanel {
    display: flex;
    height: 50px;
    position: relative;
    left: 15%;
}

form input, label {
    background:rgba(94, 89, 89, 0.8);
    padding: 4px;
}

#formBasicCheckbox {
    width: 20px;
}

form {
    width: 444px;
    position: relative;
    left: calc(50% - 220px);
    top: 0px;
    background-color: rgba(94, 89, 89, 0.8);
}

.title {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Post No Bills Colombo";
    font-size: 45px;
    line-height: 67px;
    text-align: center;
    color: #F38015;
    background:rgba(94, 89, 89, 0.8);

}

.btnWrapperBottom {
    position: absolute;
    left: calc(50% - 220px);
    bottom: 222px;
}

.btnWrapperBottom button {
    margin: 10px 10px;
}

.checkBox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkBox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

.checkBox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkBox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #F38015;
}
 
.checkBox:not(:disabled):active+label::before {
    background-color: #F38015;
    border-color: #F38015;
}
 
.checkBox:focus+label::before {
      box-shadow: 0 0 0 0.2rem rgb(61,207,194);
}
  
.checkBox:focus:checked+label::before {
    border-color: #F38015;
    background-color: #F38015;
}

  .checkBox:disabled+label::before {
    background-color: #e9ecef;
}

@media screen and (max-width: 768px) {

    .mb3 {
        width: 100%;
        position: relative;
        left: calc(50% - 170px);
    }
}


@media screen and (max-width: 600px) {

    .title {
        font-size: 38px;
        line-height: 50px;
    }

    form {

        left: calc(50% - 222px);
    }

    label {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    form {
        display: grid;
        width: 350px;
        font-size: 18px;
        left: calc(50% - 176px);
    }

    form input:valid {
        font-size: 20px;
    }
        
    .mb3 {
        width: 100%;
        position: relative;
        left: calc(50% - 140px);
    }

    form input {
        width: 160px;
        font-size: 20px
    }

    .textPanel {
        left: 2px;
    }

    .btnWrapperBottom {
        display: grid;
        left: 28%;
    }
}

@media screen and (max-width: 425px) {

    .title {
        font-size: 30px;
        line-height: 40px;
    }

    form {
        width: 300px;
        left: calc(50% - 148px);
    }

    .textPanel {
        width: 100%;
        font-size: 16px;
    }

    .mb4 label {
        width: 100%;
        font-size: 16px;
    }

    .btnWrapperBottom {
        left: 22%;
    }
}

@media screen and (max-width: 375px) {

    form {
        left: calc(50% - 150px);
    }
}